<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBNB | Spaces</title>
</head>
<body>
  <h1>Book a space</h1>
<<<<<<< HEAD
    <% @spaces.each do |space| %>
        <h2><%= space[:title] %></h2>
        <p><%= space[:description] %></p> 
        <p>£<%= space[:price] %> per night</p>
        </div>
    <% end %>
=======
    <%# <% if space[:availability] == "t" %> 
      <% @spaces.each do |space| %>
              <div class="spaces">
              <h2><%= space.title %></h2>
              <p><%= space.description %></p> 
              <p>£<%= space.price %> per night</p>
              <a href="/spaces/<%= space.id %>">Request</a>
              </div>
      <%# <% elsif space[:availability] == "f" %> 
      <%# <% end %>
        <% end %>
>>>>>>> f814131d1d878289c6ec52d442bb3b52c8adef5e
</body>
</html>
